@font-face {
    font-family: fashionista-font;
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/big-e-font.ttf') format("truetype")
}

[class*=' i-'],[class^=i-] {
    display: inline-block;
    font-family: fashionista-font !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    speak: none;
    text-transform: none
}

.i-search:before {
    content: "\f111";
}